@tailwind base;
@tailwind components;
@tailwind utilities;

$primary-colour: #DAE8FC;
$secondary-colour: #8AB6F5;
$tertiary-colour: #F5C98A;
$btn-bg: #FF8000;

#app {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
    scroll-behavior: smooth;
}

* {
    @apply text-base p-0 m-0 box-border;
}

.main-container {
    @apply max-w-6xl my-0 mx-auto;
}

.btn {
    background-color: $btn-bg;
    @apply text-white px-6 py-2 rounded-md;
    transition: all 0.3s;

    &:hover {
        background-color: $tertiary-colour;
    }
}

// header bar
.header {
    @apply w-full py-4 sticky top-0 left-0 right-0;
    background: $primary-colour;

    .header-content-wrapper {
        @apply flex flex-row items-center justify-between gap-x-6; 

        .logo-wrapper {
            width: 150px;
            height: 50px;

            .logo {
                max-width: 100%;
            }
        }

        .navbar {
            @apply grow flex flex-row justify-around;

            .nav-item {
                @apply uppercase font-bold;

                &:hover {
                    @apply cursor-pointer;
                    color: $secondary-colour;
                }
            }
        }

    }
}

// contact page
.contact {

    //background-color: $primary-colour;

    .contact-items-wrapper {
        @apply flex flex-row gap-x-3 my-4;
        background-color: $primary-colour;
        border: 1px solid black;

        .contact-item {
            @apply flex flex-col items-center justify-start grow py-8;

            .contact-item img {
                display: block;
                width: 50px;
            }

            .contact-item-heading {
                font-weight: bold;
                font-size: 22px;
                margin: 14px 0;
            }

            .contact-item p {
                @apply py-4;
            }

            .social-icons-wrapper {
                display: grid;
                grid-template-columns: 1fr 1fr;
                gap: 10px;

                i {
                    font-size: 24px;
                }
            }
        }
    }

    .contact-content-section {
        display: grid;
        grid-template-columns: 45% 45%;
        justify-content: space-between;
        margin-top: 40px;

        .form-wrapper {
            padding: 10px 10px 10px 0;

            form label {
                font-weight: bold;
            }

            form input, textarea {
                padding: 10px 15px;
                border-radius: 5px;
                background-color: #f5f5f5;
                font-size: 14px;
            }

            textarea {
                resize: none;
            }

            input:focus, textarea:focus {
                outline: none;
            }

            .name-inputs-wrapper {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                column-gap: 10px;
            }

            .input-wrapper {
                display: flex;
                flex-direction: column;
                width: 100%;
                gap: 4px;
                text-align: left;
                margin-bottom: 20px;
            }

            .form-btn {
                width: 100%;
                background-color: $btn-bg;
                transition: all 0.3s;

                &:hover {
                    cursor: pointer;
                    background-color: $tertiary-colour;
                }
            }
        }
    }

}