@tailwind base;
@tailwind components;
@tailwind utilities;

$primary-colour: #DAE8FC;
$secondary-colour: #8AB6F5;
$tertiary-colour: #F5C98A;
$btn-bg: #FF8000;

#app {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
    scroll-behavior: smooth;
}

* {
    @apply text-base p-0 m-0 box-border;
}

.modal-open {
    overflow: hidden;
}

.main-container {
    @apply max-w-6xl my-0 mx-auto;
}

.button {
    background-color: $btn-bg;
    @apply text-white px-6 py-2 rounded-md;
    transition: all 0.3s;

    &:hover {
        background-color: $tertiary-colour;
    }
}

.secondary-heading {
    @apply text-left text-3xl font-bold uppercase my-4;
}

.content-paragraph {
    @apply text-left mb-3 leading-relaxed;
}

.content-section {
    @apply flex flex-row items-start justify-between;
}

.pagination {
    @apply flex flex-row justify-center py-1;
}

.img {
    @apply block;
    max-width: 80%;
}


/**********************************************************/

// home page

// header bar
.header {
    @apply w-full py-4 sticky top-0 left-0 right-0 z-10;
    background: $primary-colour;

    .header-content-wrapper {
        @apply flex flex-row items-center justify-between gap-x-6; 

        .logo-wrapper {
            @apply w-36 h-12;

            .logo {
                @apply max-w-full;
            }
        }

        .navbar {
            @apply grow flex flex-row justify-around;

            .nav-item {
                @apply uppercase font-bold;

                &:hover {
                    @apply cursor-pointer;
                    color: $secondary-colour;
                }
            }
        }

    }
}

//shop page
.shop {
    padding-top: 20px;

    .data-manips {
        margin-bottom: 15px;    
    }

    form {
        display: flex;
        flex-direction: row;
        column-gap: 15px;

        input[type="text"] {
            padding: 5px 10px;
        }
    }
}

.shop-items {
    //@apply w-full flex flex-row justify-between flex-wrap;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    gap: 30px;
}

// contact page
.contact {

    .contact-items-wrapper {
        @apply grid grid-cols-3 gap-x-3 my-4 border border-black border-solid;
        background-color: $primary-colour;

        .contact-item {
            @apply flex flex-col items-center justify-start grow py-8;

            .contact-item img {
                @apply block w-12;
            }

            .contact-item-heading {
                @apply font-bold text-2xl my-4;
            }

            .contact-item p {
                @apply py-4;
            }

            .social-icons-wrapper {
                @apply grid grid-cols-2 gap-2;

                i {
                    @apply text-2xl;
                }
            }
        }
    }

    // form and map section
    .contact-content-section {
        @apply grid grid-cols-2 justify-between gap-5 my-10;

        .form-wrapper {
            @apply py-2 pl-2;

            form label {
                @apply font-bold;
            }

            form input, textarea {
                @apply py-3 px-4 text-sm;
                background-color: #f5f5f5;
            }

            textarea {
                @apply resize-none;
            }

            input:focus, textarea:focus {
                @apply outline-none;
            }

            .name-inputs-wrapper {
                @apply flex flex-row justify-between gap-3;
            }

            .input-wrapper {
                @apply flex flex-col w-full gap-1 text-left mb-5;
            }

            .form-btn {
                @apply w-full;
                background-color: $btn-bg;
                transition: all 0.3s;

                &:hover {
                    @apply cursor-pointer;
                    background-color: $tertiary-colour;
                }
            }
        }
    }

}

// cart modal
.backdrop {
    @apply w-full absolute inset-0 flex justify-center items-center z-20;
    background-color: rgba($color: #000000, $alpha: 0.2);
}

.modal {
    @apply bg-white;
    width: 500px;
    height: 600px;

    .modal-header-wrapper {
        @apply py-2 px-1 flex flex-row justify-between;
    
        .modal-header {
            @apply text-xl font-bold;
        }
    
        p:hover {
            @apply cursor-pointer;
        }
    }
    
    .items-wrapper {
        @apply w-full overflow-x-hidden overflow-y-scroll;
        height: 85%;

        .cart-item {
            @apply w-full h-36 grid p-1 mb-4; 
            grid-template-columns: 30% 70%;

            .item-img {
                @apply h-36;
            }

            .item-info-wrapper {
                @apply w-full h-full grid px-3;
                grid-template-rows: 10% 70% 20%;
            }
            
            .item-info-header, .item-info-footer {
                @apply flex flex-row justify-between items-center;
            }

            .remove-item:hover {
                @apply cursor-pointer;
            }
            
            .item-quantity {
                @apply text-left pt-3;
            }
            
            .btn-qty {
                @apply px-4 mx-1 bg-slate-400;
            }
        }
    }
    
}

// about page
.about-content-section {
    @apply mt-4 mb-12;
}

.about-img {
    @apply w-full;
}


// hero section
.hero-section {
    @apply mt-9;
}

.hero-content-wrapper {
    @apply flex flex-row justify-around items-center py-7;
}

.hero-items-wrapper {
    @apply w-full flex flex-row justify-between;
}

// item card
.item-wrapper {
    width: 250px;
    height: 300px;
    margin: 3px 0;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 15px;

    .item-img-wrapper {
        width: 140px;
        display: flex;
        justify-content: center;
        
        .item-card-img {
            display: block;
            max-width: 80%;
            transition: transform 0.8s;
        }
    }
}

.swiper {
    width: 100%;
    height: 100%;
    //z-index: -1;
  }

  .swiper-wrapper {
    margin-bottom: 45px;
    //z-index: -1;
  }
  
  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
  
    /* Center slide text vertically */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  input {
    border: 1px solid black;
  }