@tailwind base;
@tailwind components;
@tailwind utilities;

$primary-colour: #DAE8FC;
$secondary-colour: #8AB6F5;
$tertiary-colour: #F5C98A;
$btn-bg: #FF8000;

.main-container {
    @apply my-0 mx-auto;
    width: 360px;
}

.button {
    background-color: $btn-bg;
    @apply text-white px-6 py-2 rounded-md;
    transition: all 0.3s;

    &:hover {
        background-color: $tertiary-colour;
    }
}

// header bar
.header {
    @apply w-full py-4 sticky top-0 left-0 right-0 z-10;
    background: $primary-colour;

    .header-content-wrapper {
        @apply flex flex-row-reverse items-center justify-between gap-x-6; 

        .logo-wrapper {
            @apply hidden;
        }

        .logo-wrapper + nav.navbar {
            @apply absolute inset-0 h-screen flex-col justify-evenly items-center hidden;
            background: $primary-colour;

            .nav-menu-close {
                @apply block absolute top-5 right-8 text-3xl;
            }

            button.nav-menu-open {
                display: none;
            }
        }

        .nav-item {
            @apply uppercase font-bold;

            &:hover {
                @apply cursor-pointer;
                color: $secondary-colour;
            }
        }
    }
}

// home page
.home {
    // hero section
    .hero-section {

        .hero-content-wrapper {
            @apply flex flex-row justify-around items-center py-7;
        }

        .hero-items-wrapper {
            @apply w-full flex flex-row justify-between gap-y-2;
        }
    }
    
    .item-wrapper {
        @apply mx-1;
    }
}

//shop page
.shop {
    @apply pt-5;

    .data-manips {
        @apply mb-4 hidden;
    }
}

// about page
.about {
    .about-content-section {
        @apply mt-4 mb-12;
    }
    
    .about-img {
        @apply w-full;
    }
}

// contact page
.contact {
    // form and map section
    .contact-content-section {
        @apply flex flex-col;

        .form-wrapper {
            @apply mb-4;

            .name-inputs-wrapper {
                @apply flex flex-col justify-evenly;
            }

            .input-wrapper {
                @apply flex flex-col w-full gap-1 text-left mb-5;
            }

            .form-btn {
                @apply w-full;
                background-color: $btn-bg;
                transition: all 0.3s;

                &:hover {
                    @apply cursor-pointer;
                    background-color: $tertiary-colour;
                }
            }
        }
    }

    .contact-item {
        @apply flex flex-col items-center justify-start grow py-8 my-2 border border-black border-solid;
        background-color: $primary-colour;

        .contact-item-heading {
            @apply font-bold text-2xl my-4;
        }

        .contact-item p {
            @apply py-4;
        }

        i {
            @apply text-3xl mx-2;
        }
    }
}

// cart modal
.backdrop {
    @apply w-full absolute inset-0 flex justify-center items-center z-20;
    background-color: rgba($color: #000000, $alpha: 0.6);

    .modal {
        @apply bg-white;
        position: fixed;
        top: 50px;
        width: 370px;
        height: 600px;
    
        .modal-header-wrapper {
            @apply py-2 px-1 flex flex-row justify-between;
        
            .modal-header {
                @apply text-xl font-bold;
            }
        
            p:hover {
                @apply cursor-pointer;
            }
        }
        
        .items-wrapper {
            @apply w-full overflow-x-hidden overflow-y-scroll;
            height: 85%;
            padding: 0 8px;
    
            .cart-item {
                @apply w-full h-36 grid p-1 mb-4; 
                grid-template-columns: 30% 70%;
                border-bottom: 1px solid grey;
    
                .cart-img-wrapper {
                    @apply flex items-center;
                }
    
                .item-info-wrapper {
                    @apply w-full h-full grid px-3;
                    grid-template-rows: 10% 70% 20%;
                }
                
                .item-info-header, .item-info-footer {
                    @apply flex flex-row justify-between items-center;
                }
    
                .remove-item:hover {
                    @apply cursor-pointer;
                }
                
                .item-quantity {
                    @apply text-left pt-3;
                }
                
                .btn-qty {
                    @apply px-4 mx-1 bg-slate-400;
                }
            }
        }
        .total-cost-wrapper {
            background-color: $secondary-colour;
            height: 46px;
            display: flex;
            align-items: center;
            justify-content: center;
            color: black;
        }
    }
}

.swiper {
    @apply w-full h-full;
  
    .swiper-wrapper {
        @apply mb-11;
    }

    .swiper-slide {
        @apply text-center text-lg bg-white flex justify-center items-center;
    }

    .swiper-slide img {
        @apply block w-full h-full object-cover;
    }
}

@media (min-width:768px) {
    .main-container {
        width: 680px;
    }

    .shop {
        .shop-items {
            @apply grid grid-cols-3 gap-2;
        }

        .data-manips {
            @apply block;

            form {
                @apply flex flex-row gap-y-1 justify-between items-center;
            }
            .shop-items {
                @apply flex flex-row gap-y-1 flex-wrap mb-6;
            }
        }
    }

    .backdrop {
        .modal {
            position: fixed;
            width: 500px;
            height: 600px;
        }
    }

    .header {
        @apply w-full py-4 sticky top-0 left-0 right-0 z-10;
        background: $primary-colour;
    
        .header-content-wrapper {
            @apply flex flex-row items-center justify-between gap-x-6; 
    
            .logo-wrapper {
                @apply block w-36 h-12;
    
                .logo {
                    @apply max-w-full;
                }
            }
    
            .logo-wrapper + nav.navbar {
                @apply grow flex flex-row justify-around;

                .nav-menu-close {
                    @apply hidden;
                }

                button.nav-menu-open {
                    display: none;
                }
            }
    
        }
    }
}

@media (min-width:1024px) {
    .main-container {
        width: 900px;
    }

    .name-inputs-wrapper {
        @apply flex flex-row justify-between gap-3;
    }

    .shop {
        .data-manips {
            form {
                @apply flex flex-row gap-y-1 justify-evenly items-center;
            }
        }
    }

}

@media (min-width:1280px) {
    .main-container {
        width: 1100px;
    }

    .contact-content-section {
        display: flex;
        flex-direction: row;

        .name-inputs-wrapper {
            @apply flex flex-row;
        }
    }
    
    .contact-items-wrapper {
        @apply grid grid-cols-3 gap-x-3 my-4;

        .social-icons-wrapper {
            @apply grid grid-cols-2 gap-2;
        }
    }

    .shop {
        form {
            @apply flex flex-row gap-y-4;
    
            input[type="text"] {
                @apply pt-3 pb-3
            }
        }

        .shop-items {
            @apply grid grid-cols-4 justify-center gap-8;

            .item-wrapper {
                @apply mt-1 flex flex-col justify-evenly items-center;
                border: 1px solid black;
                width: 250px;
                height: 300px;
                border-radius: 15px;

                .item-img-wrapper {
                    @apply w-36 flex justify-center;
                    
                    .item-card-img {
                        @apply block;
                        max-width: 80%;
                        transition: transform 0.8s;
                    }
                }
            }
        }

        .item-wrapper {
            @apply mt-1 flex flex-col justify-evenly items-center;
            width: 250px;
        }
    }

    // cart modal
    .backdrop {

        .modal {
            @apply bg-white;
            position: fixed;
            top: 50px;
            left: 30%;
            width: 500px;
            height: 600px;
        }
    }
}

.nav {
    @apply grow flex flex-row justify-around;
    background-color: none;
}